{
   "ScriptSettings" : {
      "PlexStatus" : {
         "Webhook" : "https://discord.com/api/webhooks/<redacted>",
		 "WebhookAnnounce" : "https://discord.com/api/webhooks/<redacted>"
      }
   }
}
